# Ignorar node_modules (será reconstruído dentro do container)
node_modules

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Sistemas de controle de versão
.git
.gitignore

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Arquivos de build locais (caso existam)
dist
build
out

# Arquivos de ambiente (não devem ir pro container)
.env
